In [0]:
import tensorflow as tf
tf.set_random_seed(42)

In [114]:
tf.__version__

'1.15.0-rc3'

In [0]:
import keras

In [0]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive/

#### 1. Read the dataset

In [0]:
import pandas as pd

data = pd.read_csv('/content/drive/My Drive/bank.csv')

In [120]:
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [121]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [122]:
data.describe(include='all').T

                 count unique     top  ...          50%          75%          max
RowNumber        10000    NaN     NaN  ...       5000.5      7500.25        10000
CustomerId       10000    NaN     NaN  ...  1.56907e+07  1.57532e+07  1.58157e+07
Surname          10000   2932   Smith  ...          NaN          NaN          NaN
CreditScore      10000    NaN     NaN  ...          652          718          850
Geography        10000      3  France  ...          NaN          NaN          NaN
Gender           10000      2    Male  ...          NaN          NaN          NaN
Age              10000    NaN     NaN  ...           37           44           92
Tenure           10000    NaN     NaN  ...            5            7           10
Balance          10000    NaN     NaN  ...      97198.5       127644       250898
NumOfProducts    10000    NaN     NaN  ...            1            2            4
HasCrCard        10000    NaN     NaN  ...            1            1            1
IsActiveMember   10000    NaN     NaN  ...            1            1            1
EstimatedSalary  10000    NaN     NaN  ...       100194       149388       199992
Exited           10000    NaN     NaN  ...            0            0            1

[14 rows x 11 columns]

In [123]:
data.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

#### 2.Drop the columns which are unique for all users like IDs

In [124]:
data.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

#### 3.Distinguish the feature and target set

In [0]:
X=data.drop(['Exited'],axis=1)
y = data['Exited']

In [126]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
dtypes: float64(2), int64(6), object(2)
memory usage: 781.3+ KB

In [127]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.6/dist-packages (2.1.0)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.21.3)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.3.1)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.16.5)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.24.2)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.14.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)

In [0]:
from sklearn.preprocessing import OneHotEncoder
import category_encoders as ce
le = ce.OneHotEncoder(handle_unknown='ignore', use_cat_names=True)
data_cat = le.fit_transform(X)

#### 4.Divide the data set into Train and test sets

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [130]:
display('X_train',X_train.shape,'X_test',X_test.shape,'y_train',y_train.shape,'y_test',y_test.shape)

'X_train'

(8000, 10)

'X_test'

(2000, 10)

'y_train'

(8000,)

'y_test'

(2000,)

In [131]:
X_train_cat=le.transform(X_train)
X_test_cat=le.transform(X_test)
#X_train_cat=X_train_cat.to_numpy()
display(X_train_cat.head(),X_test_cat.head())

      CreditScore  Geography_France  ...  IsActiveMember  EstimatedSalary
9254          686                 1  ...               1        179093.26
1561          632                 0  ...               1        195978.86
1670          559                 0  ...               0         85891.02
6087          561                 1  ...               0        153080.40
6669          517                 1  ...               0         39488.04

[5 rows x 13 columns]

      CreditScore  Geography_France  ...  IsActiveMember  EstimatedSalary
6252          596                 0  ...               0         41788.37
4684          623                 1  ...               1        146379.30
1731          601                 0  ...               0         58561.31
4742          506                 0  ...               1        170679.74
4521          560                 0  ...               1        114669.79

[5 rows x 13 columns]

In [135]:
y_train.head()

9254    0
1561    0
1670    1
6087    1
6669    1
Name: Exited, dtype: int64

In [136]:
X_train_stan

array([[ 0.35649971,  1.00150113, -0.57638802, ...,  0.64920267,
         0.97481699,  1.36766974],
       [-0.20389777, -0.99850112, -0.57638802, ...,  0.64920267,
         0.97481699,  1.6612541 ],
       [-0.96147213, -0.99850112,  1.73494238, ...,  0.64920267,
        -1.02583358, -0.25280688],
       ...,
       [ 0.86500853,  1.00150113, -0.57638802, ..., -1.54035103,
        -1.02583358, -0.1427649 ],
       [ 0.15932282,  1.00150113, -0.57638802, ...,  0.64920267,
        -1.02583358, -0.05082558],
       [ 0.47065475, -0.99850112, -0.57638802, ...,  0.64920267,
         0.97481699, -0.81456811]])

#### 4.Normalize the train and test data

In [0]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train_stan = sc.fit_transform(X_train_cat)
X_test_stan = sc.transform(X_test_cat)

In [0]:
from keras.models import Sequential
from keras.layers import Dense

#### 6. Initialize & build the model
#### 7. Optimize the model

In [0]:
# Initializing the ANN
model = Sequential()

In [0]:
# This adds the input layer (by specifying input dimension) AND the first hidden layer (units)
classifier.add(Dense(activation = 'relu', input_dim = 13, units=6, kernel_initializer='uniform'))

In [0]:
# Adding the second hidden layer
# Notice that we do not need to specify input dim. 
classifier.add(Dense(activation = 'relu', units=6, kernel_initializer='uniform'))

In [0]:
# Adding the output layer
# Notice that we do not need to specify input dim. 
# we have an output of 1 node, which is the the desired dimensions of our output (stay with the bank or not)
# We use the sigmoid because we want probability outcomes
classifier.add(Dense(activation = 'sigmoid', units=1, kernel_initializer='uniform'))

In [0]:
classifier.compile(optimizer='adam', loss = 'binary_crossentropy', metrics=['accuracy'])

In [156]:
classifier.fit(X_train_stan,y_train, batch_size=10, epochs=100)

Epoch 1/100
8000/8000 [==============================] - 2s 200us/step - loss: 0.4912 - acc: 0.7942
Epoch 2/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.4336 - acc: 0.7945
Epoch 3/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.4267 - acc: 0.8061
Epoch 4/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.4195 - acc: 0.8291
Epoch 5/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.4135 - acc: 0.8306
Epoch 6/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.4096 - acc: 0.8345
Epoch 7/100
8000/8000 [==============================] - 1s 139us/step - loss: 0.4063 - acc: 0.8356
Epoch 8/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.4044 - acc: 0.8345
Epoch 9/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.4021 - acc: 0.8339
Epoch 10/100
8000/8000 [==============================] - 1s 133us/step - loss: 0.4015 - acc: 0.8370
Epoch 11/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.4005 - acc: 0.8346
Epoch 12/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3997 - acc: 0.8372
Epoch 13/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.3991 - acc: 0.8355
Epoch 14/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3991 - acc: 0.8361
Epoch 15/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3980 - acc: 0.8361
Epoch 16/100
8000/8000 [==============================] - 1s 141us/step - loss: 0.3981 - acc: 0.8366
Epoch 17/100
8000/8000 [==============================] - 1s 143us/step - loss: 0.3980 - acc: 0.8369
Epoch 18/100
8000/8000 [==============================] - 1s 142us/step - loss: 0.3972 - acc: 0.8376
Epoch 19/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3979 - acc: 0.8372
Epoch 20/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.3970 - acc: 0.8372
Epoch 21/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3970 - acc: 0.8374
Epoch 22/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3966 - acc: 0.8369
Epoch 23/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3970 - acc: 0.8359
Epoch 24/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3965 - acc: 0.8385
Epoch 25/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.3965 - acc: 0.8376
Epoch 26/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.3964 - acc: 0.8365
Epoch 27/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3960 - acc: 0.8376
Epoch 28/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3963 - acc: 0.8365
Epoch 29/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3960 - acc: 0.8377
Epoch 30/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.3958 - acc: 0.8375
Epoch 31/100
8000/8000 [==============================] - 1s 141us/step - loss: 0.3958 - acc: 0.8381
Epoch 32/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3961 - acc: 0.8384
Epoch 33/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.3957 - acc: 0.8374
Epoch 34/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3952 - acc: 0.8384
Epoch 35/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.3951 - acc: 0.8385
Epoch 36/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.3949 - acc: 0.8380
Epoch 37/100
8000/8000 [==============================] - 1s 139us/step - loss: 0.3946 - acc: 0.8387
Epoch 38/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3937 - acc: 0.8385
Epoch 39/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3933 - acc: 0.8400
Epoch 40/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3929 - acc: 0.8392
Epoch 41/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.3913 - acc: 0.8400
Epoch 42/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.3906 - acc: 0.8397
Epoch 43/100
8000/8000 [==============================] - 1s 142us/step - loss: 0.3889 - acc: 0.8400
Epoch 44/100
8000/8000 [==============================] - 1s 142us/step - loss: 0.3870 - acc: 0.8401
Epoch 45/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3848 - acc: 0.8400
Epoch 46/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3807 - acc: 0.8391
Epoch 47/100
8000/8000 [==============================] - 1s 144us/step - loss: 0.3785 - acc: 0.8411
Epoch 48/100
8000/8000 [==============================] - 1s 140us/step - loss: 0.3751 - acc: 0.8409
Epoch 49/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3746 - acc: 0.8404
Epoch 50/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.3731 - acc: 0.8421
Epoch 51/100
8000/8000 [==============================] - 1s 141us/step - loss: 0.3706 - acc: 0.8435
Epoch 52/100
8000/8000 [==============================] - 1s 133us/step - loss: 0.3681 - acc: 0.8446
Epoch 53/100
8000/8000 [==============================] - 1s 142us/step - loss: 0.3663 - acc: 0.8466
Epoch 54/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3641 - acc: 0.8495
Epoch 55/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.3624 - acc: 0.8491
Epoch 56/100
8000/8000 [==============================] - 1s 142us/step - loss: 0.3595 - acc: 0.8507
Epoch 57/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3583 - acc: 0.8516
Epoch 58/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3573 - acc: 0.8531
Epoch 59/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.3560 - acc: 0.8534
Epoch 60/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.3550 - acc: 0.8545
Epoch 61/100
8000/8000 [==============================] - 1s 139us/step - loss: 0.3536 - acc: 0.8537
Epoch 62/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3524 - acc: 0.8539
Epoch 63/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3505 - acc: 0.8567
Epoch 64/100
8000/8000 [==============================] - 1s 133us/step - loss: 0.3510 - acc: 0.8544
Epoch 65/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.3489 - acc: 0.8556
Epoch 66/100
8000/8000 [==============================] - 1s 139us/step - loss: 0.3501 - acc: 0.8565
Epoch 67/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.3493 - acc: 0.8544
Epoch 68/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.3476 - acc: 0.8570
Epoch 69/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3475 - acc: 0.8569
Epoch 70/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.3467 - acc: 0.8560
Epoch 71/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.3464 - acc: 0.8569
Epoch 72/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3472 - acc: 0.8576
Epoch 73/100
8000/8000 [==============================] - 1s 140us/step - loss: 0.3449 - acc: 0.8574
Epoch 74/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.3453 - acc: 0.8570
Epoch 75/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.3441 - acc: 0.8601
Epoch 76/100
8000/8000 [==============================] - 1s 141us/step - loss: 0.3457 - acc: 0.8576
Epoch 77/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.3439 - acc: 0.8599
Epoch 78/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3443 - acc: 0.8582
Epoch 79/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3428 - acc: 0.8587
Epoch 80/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3435 - acc: 0.8632
Epoch 81/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.3436 - acc: 0.8587
Epoch 82/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3437 - acc: 0.8605
Epoch 83/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3429 - acc: 0.8594
Epoch 84/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.3441 - acc: 0.8605
Epoch 85/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3426 - acc: 0.8595
Epoch 86/100
8000/8000 [==============================] - 1s 141us/step - loss: 0.3426 - acc: 0.8592
Epoch 87/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3427 - acc: 0.8589
Epoch 88/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3430 - acc: 0.8595
Epoch 89/100
8000/8000 [==============================] - 1s 142us/step - loss: 0.3432 - acc: 0.8594
Epoch 90/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3436 - acc: 0.8604
Epoch 91/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3429 - acc: 0.8599
Epoch 92/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.3432 - acc: 0.8596
Epoch 93/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.3425 - acc: 0.8601
Epoch 94/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.3427 - acc: 0.8590
Epoch 95/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.3420 - acc: 0.8606
Epoch 96/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.3429 - acc: 0.8601
Epoch 97/100
8000/8000 [==============================] - 1s 141us/step - loss: 0.3424 - acc: 0.8615
Epoch 98/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3414 - acc: 0.8596
Epoch 99/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3434 - acc: 0.8587
Epoch 100/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.3429 - acc: 0.8600

#### 8.Predict the results using 0.5 as a threshold

In [169]:
#Predicting the Test set results
y_pred = classifier.predict(X_test_stan)
#Threshold of 50%
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [ True],
       [False],
       [False]])

#### 9.Print the Accuracy score and confusion matrix

In [170]:
#Making the COnfusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[1531,   76],
       [ 196,  197]])

#### We can observation that the model accurately predicted (1531 + 197) correctl and (76+196) incorrectly with 86% accuracy